

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

    

nav{
    
    width: 100%;
    height: 140PX;

    margin-top: 0px;
    background-color:white;
    
    
}
nav .part1{
   width: 100%;
    height: 40%;
    margin-top: -22px;
    background-color:#f6fbff;
    
    
   
}

.head1 ul li{
    list-style: none;
   padding-left: 20px;
    float: left;
    color: #6c757d;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;

}
.head1 ul li:hover{
    color: #007bff;
}
.mail{
    float: right;
    margin-right: 50px;
    color: #6c757d;
    margin-top: 20px;
   

}
.mail span{
    text-decoration: none;
    color: #6c757d;
}
.mail ul{
    list-style: none;
    display: flex; 
    margin: 0 auto;
    cursor: pointer;
}
.mail ul li{
    padding: 0 10px;
    
}
.mail:hover{
    color: #007bff;
}
.mail span:hover{
    color: #007bff;
}

nav .bap{

    position: sticky;
    top: 0;
}
nav .part2{
    height: 60%;
   
    display: flex;
   float: left;
  
}
nav .logo
{
    margin-left: 55px;
    margin-top: 20px;
}

nav .list ul{
    position: absolute;
    list-style: none;
    margin-right: 100px;
    margin-top: 35px;
    left: 22%;
    font-size: 20PX;
  text-decoration: burlywood;
    text-transform: capitalize;
    

}
nav .list ul li{
    display: flex;
    float: left;
    margin-right: 40px;
    color: #6c757d;
    cursor: pointer;
    
}
nav .list ul li:hover{
    color: #007bff;
}
nav .apple{
    position: absolute;
    margin-top: 18px;
    right: 80px;
    
    
}
nav .apple input{
  
    padding: 15px 30px;
    background-color: white;
    outline: none;
    border:  1px solid #007bff;
    cursor: pointer;
    
    color: white;
    background-color: #007bff;
    font-size: 18px;
    cursor: pointer;

}
nav .apple input:hover{
    background-color: white;
    color: #007bff;
    transition: all 0.6s ease-out ;
}

.checkbtn{
    
      font-size: 30px;
      color: rgba(0,0,0,0.8);
     display: none;
      float: right;
      line-height: 80px;
      margin-right: -190px;
     cursor: pointer;
   
   }
   .checkbtn:hover{
      color: #8293ff;
      
   }
   #check{
      display: none;
   }
/*header part end*/
/*section 1 start*/
.section1{
    margin-top: 0px;
}

.section1{
    width: 100%;
    height: 700px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url("xbanner2.png.pagespeed.ic.B9cM6-Ibkd.webp");
    background-position: center;
   

}
.section1 .text{

margin-left: 55px;
margin-top: 15%;
line-height: 0.3;
}
.section1 .text h1{
    font-size: 80px;
    font-weight: 500;
   
}
.section1 .text h3{
    font-size:60px ;
    line-height: 0.5px;
    font-weight: 90;
    color: rgba(0,0,0,0.8);
    letter-spacing: 9px;
}
.section1 .text p{
    color: rgba(0,0,0,0.6);
    margin-left: .4px;
}

.section1 .inp{
    margin-left: 55px;
    
    margin-top: 30px;
    
}
.section1 .inp input{
    padding: 15px 50px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    font-size: 20px;
}
.section1 .inp input:hover{
    background-color: white;
    color: #007bff;
    transition: all 0.6s ease-out ;
}
/*section1 end*/
/*section2 start*/
.section2{
    width: 100%;
    height: 290px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    
  
}
.section2 .ob1{
    width: 33.33%;
    height: 100%;
    background-color: #79befa;  
    
    color: white;
}
.section2 .ob1 .p3{
    margin: 45px;
    margin-left: 55px;
}
.section2 .ob1 .p3 h2{
    font-size: 30px;

}
.section2 .ob1 .p3 p{
    
    letter-spacing: 1px;
}
.section2 .ob1 .p3 i{
    font-size: 35px;
}

.section2 .ob1 .p3 input{
    padding: 10px 30px;
    background-color: #79befa;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    cursor: pointer;
}
.section2 .ob1 .p3 input:hover{
    color: #007bff;
    background-color: white;
    transition: all 0.5s ease-in;
}

/*section2 end*/
.section3{
    margin-top: 100px;
    width: 100%;
    height: 580px;
    overflow: hidden;
   
   
}

.section3 .image2{
    margin-left: 55px;
    position: relative;
   width: 50%;
   
}
.section3 .im1{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}
.section3 .im2{
    position: absolute;
    z-index: 2;    /* Place this image in front of the img1 */
    width: 100%;
    top: 50px;
    left: 220px;
}
.section3 .text2{
    margin-top: -20px;
    
   width: 50%;
   float: right;
}
.section3 .text2 .txt{
    margin-top: 0px;
    margin-left:100px;
}
.section3 .text2 .txt h3{
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}
.section3 .text2 .txt hr{
    width: 230px;
    margin-left: 0px;
    margin-top: 0PX;
    background-color: #007bff;
}
.section3 .text2 .txt h2{
    font-size: 30px;
    letter-spacing: 1.5px;

    
    
}
.section3 .text2 .txt p{
    width: 480px;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
    color: #727272;
}
.section3 .text2 .txt ul {
    list-style: none;
    margin-left: -38px;
    font-size: 20px;
    line-height: 1.7;
    color: #727272;

    
}
.section3 .text2 .txt ul li span{
    color:#5295dc;
    margin-right: 7PX;
}
.section3 .text2 .txt input{
    margin-top: 20px;
    padding: 8px 25px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: white;
    
}
.section3 .text2 .txt input:hover{
    color: white;
    background-color: #007bff;
    transition: all 0.6s ease-in;
    cursor: pointer;
}
/*section4 start here*/
.section4{
    background-color: #f3fafa;
    width: 100%;
    height: 1100px;
    
    
}
.section4 h2{
    text-align: center;
    
}
.section4 hr{
    width: 10%;
    background-color: #5295dc;
   margin-top: -6px;

}
.section4 p{
    
    color: #6c757d;

}
.section4 .service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    align-items: center;
}
.section4 .service .ser{
    width: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 420px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow:5px 10px 30px rgba(222, 224, 243, 0.5);
    overflow: hidden;
   border-radius: 3%;
    
}
.section4 .service .ser:hover{
    transform: scale(1.03);
    transition: all ease-in 0.4s;
}
.section4 .service .ser .txt2{
    width: 362px;
    background-color: white;
    padding-bottom: 100px;
    margin-top: -20px;
    letter-spacing: 1px;


}
.section4 .service .ser .txt2 h3,p,a{
    margin-left: 30px;
    
}
.section4 .service .ser .txt2 h3{
    
    padding-top: 30px;
}
.section4 .service .ser .txt2 h3:hover{
    color: #007bff;
    cursor: pointer;
}
.section4 .service .ser .txt2 a{
    text-decoration: none;
    font-size: 18px;
}
.section4 .service .ser .txt2 a:hover{
    color: #007bff;}

.section4 .service .ser .im3{
    height: 240px;
    width: 372px;
    overflow: hidden;
    
}
.section4 .service .ser .im3:hover{

    overflow: hidden;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in;
 

}

.section5{
    width: 100%;
    height: 620px;
    margin-top: 90px;
    background-image: url(x1.png.pagespeed.ic.NH__KL9wkr.webp);
    background-position: center;
    opacity: 0.9 ;
    position: relative;
    
   
    
}
.section5{
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,  url(x1.png.pagespeed.ic.NH__KL9wkr.webp);
       
}

.txt4 {
    
    color: white;
    font-size: 20px;
    letter-spacing: .8px;
    word-spacing: 2px;
    margin-top: 80px;
    text-align: center;
    position: absolute;
}

.section5 .txt4 .tt{
    text-align: center;
    margin-top: 160px;
    margin-left: 75px;
}
.txt4 hr{
    width: 55%;
    height: 1px;
    background-color: white;

}
/*section6 START HERE*/
.section6{
    position: relative;
    background-position: center;
    width: 90%;
    margin: 0 auto;
    height: 400px;
   
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    display: flex;
    overflow: hidden;
    
}
.section6 .c1 p{
   margin-left: -1px;

}
.section6 .c1 ,.c2{
    width: 50%;
} 
.section6 .c1 p{
    color: #6c757d;
    word-spacing: 4px;
    font-size: 17px;
    
}
.section6  .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5295dc;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section6  .icon div i{
   font-size: 30PX;
   color: white;
}
/*7 start here*/

.h h1{
    margin-left: 60px;
    
    margin-bottom: 40px;
}
.section7{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section7 .cont1{
    border: 1px solid white;
    border-radius: 3%;
    text-align: center;
    background-color:#e5eef6;
    overflow: hidden;
}
.section7 .cont1 .ii{
    width: 100%;
}
.section7 .cont1 .t1 p{
    margin-right: 35px;
}
.section7 .cont1:hover{
    background-color: #5295dc;
    color: white;
    transition: all ease-in-out 0.5s;
    transform: scale(1.01);
}
/*section 8 start here*/
.section8{
    width: 100%;
    height: 222px;
    display: flex;
    background-color: rgba(101,149,230, 2);
    color: white;
    margin-top: 80px;
   
    
    
}
.section8 .cont3 .t2 h3{
    padding-left: 5px;
    font-size: 23px;
    line-height: 0.2;
}


.section8 .cont3{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}



.cont3{
    background-image: url(xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
    background-position: center;
    
    
    
}
.cont3{
    background-image: linear-gradient(rgba(101,149,231,0.9),rgba(101,149,231,0.8)) ,  url(xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
}

.section8   .cont3  .inp1 input{
    color: white;
    font-size: 18px;
   padding: 12px 1px;
   text-align: center;
   border: 1px solid white;
   background-color:rgb(101,149,231);
   border-radius: 20px 20px 20px 20px;
}

.section8 .cont3 .inp1 input:hover{
    background-color: white;
    color: rgb(101,149,231);
    transition: all ease-out 0.5s;
    border: 1px solid ;
    cursor: pointer;
}

.section8 .cont4{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.cont4{
    background-image: url(xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
    background-position: center;
}
.cont4{
    background-image: linear-gradient(rgba(101,149,231,0.7),rgba(101,149,231,0.7)) ,  url(xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
}
.section8 .cont4 .t2 h3{
    padding-left: 5px;
    font-size: 23px;
    line-height: 0.2;
}

.section8   .cont4  .inp1 input{
    color: white;
    font-size: 18px;
   padding: 12px 1px;
   text-align: center;
   border: 1px solid white;
   background-color:rgb(101,149,231);
   border-radius: 20px 20px 20px 20px;
}
.section8 .cont4 .inp1 input:hover{
    background-color: white;
    color: rgb(101,149,231);
    transition: all ease-out 0.5s;
    border: 1px solid ;
    cursor: pointer;
}
footer{
    margin-top: 80px;
    width: 100%;
    height:450px;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
}
footer .prac
{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .conf{
    width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer .conf .conf1{
    width: 30%;
    
}
footer .conf .conf2{
    width: 15%;
}
footer .conf .conf3{
    width: 15%;
}
footer .conf .conf4{
width: 15%;
}
footer .conf .conf1 .s ul{
    margin-left: -60px;
}

footer .conf .conf1 .s ul li{
    list-style: none;
   padding-left: 20px;
    float: left;
    color: #6c757d;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
   

}
footer .conf .conf1 p{
    color: #b4b2ac;
    margin-left: -1px;
    word-spacing: 2px;
}
footer .conf .conf2 , .conf3 ,.conf4{
    margin-top: -20px;
}

footer .conf .conf2 h3{
    color: white;
    font-size: 22px;
}
footer .conf .conf2 .l ul li{
    list-style: none;
    color: #b4b2ac;
    margin-top: 8px;
    font-size: 19px;
}
footer .conf .conf2 .l ul{
    margin-left: -40px;
}

footer .conf .conf3 h3{
    color: white;
    font-size: 22px;
}
footer .conf .conf3 .l2 ul li{
    list-style: none;
    color: #b4b2ac;
    margin-top: 8px;
    font-size: 19px;
}
footer .conf .conf3 .l2 ul{
    margin-left: -40px;
}

footer .conf .conf4 h3{
    color: white;
    font-size: 22px;
}
footer .conf .conf4 .l3 ul li{
    list-style: none;
    color: #b4b2ac;
    margin-top: 8px;
    font-size: 19px;
}
footer .conf .conf4 .l3 ul{
    margin-left: -40px;
}


footer .un{
    
    
    width: 100%;
    height: 70px;
    background-color: #000000;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer .un p{
    text-align: center;
}



@media   (max-width:485px) {
    body{
        top: 0px;
        box-sizing: border-box;
        width: 100%;
    }
    nav{
        height: auto;
        display: block;
        
    }
   nav .part1{
    
    height: 70%;
    display: flex;
    flex-direction: column;
    
   }
   
   nav .part1 .head1 ul{
    
     margin-left: 90px;
   }
   .part2 .logo{
    margin-left: -0.1px;
   }

.checkbtn{
    display: block;
    
    
 }
 
 nav .part2 .list ul{
      display: block;
    width: 100%;
    height: 100vh;
    background: white;
    top: 46px;
    left: -200%;
    transition: all .1s;
    
    
 }
 nav .part2 .list ul li{
    line-height: 30px;
    clear: both;
    margin-top: 15px;
    text-align: center;
    
 }
 #check:checked ~ ul{
    left: 0;
 }


   .part2 .apple{
    display: none;
   }

.section1{
    width: 100%;
    height: 400px;
   background-size: cover;
}
.section1 .text{
    margin-top: 90px;
}

.section1 .text h1{
    font-weight: 700;
    font-size: 30px;
    
}
.section1 .text h3{
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    
}

.section1 .text p{
    line-height: 12px;
    line-break: loose;
}
.section1 .inp input{
    padding: 8px 15px;
    border-radius: 8px 8px 8px 8px;
}


.section2{
    height: auto;
display: flex;
flex-direction: column;
}
.section2 .ob1{
    width: 100%;
    
}

.section3{
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.section3 .image2{
    margin-bottom:500px;
}
.section3 .im1{
    width: 100%;
    margin-left: -38px;
}
.section3 .im2{
    display: none;
    
}
.section3 .text2{
    width: 100%;
    margin-left: -95px;
}
.section3 .text2 .txt h3{
   
    letter-spacing: normal;
}
.section3 .text2 .txt h2{
    font-size: 25px;
    letter-spacing: normal;
}

.section3 .text2 .txt p{
    display: block;
    width: 130%;
    margin-left: -1px;
}
.section3 .text2 .txt ul{
    width: 130%;
    font-size: 18px;
}

.section4{
    margin-top: 80px;
    display: block;
    width: 100%;
    height: auto;
    
}

.section5{
   width: 100%;
   height: 400px;
    background-position: cover;
}
.txt4{
    color: white;
    font-size: 15px;
    letter-spacing: .8px;
    word-spacing: 2px;
    margin-top: 0px;
    display: flex;
    
    position: absolute;
}
.section5 .txt4 .tt{
    width: fit-content;

    text-align: center;
    margin-top: 100px;
    margin-left: -18px;
}

.section6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}
.section6 .c1 ,.c2{
    width: 90%;
}
.h{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.section7{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.section7 .cont1{
    margin-bottom: 20px;
}

.section8{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.section8 .cont3{
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.section8 .cont4{
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

footer{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
footer .prac
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .conf .conf1{
    width: 100%;
    margin-top: 20px;
    
}
footer .conf .conf2{
    width: 100%;
    margin-top: 20px;
}
footer .conf .conf3{
    width: 100%;
    margin-top: 20px;
}
footer .conf .conf4{
width: 100%;
margin-top: 20px;
}

}